<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OneTech Careers</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link href="/static/styles.css" rel="stylesheet">		
	</head>
	<body>
		{% include 'navbar_advanced.html' %}
		<div>
			<img id="banner" src="static/cdg_darkbg_sm.jpg">
			<div>
				<h1 id="banner_text" class="container mb-4 carousel-caption"><b>[</b> {{company_name}} Careers <b>]</b>	
				<br><br><i>Next <span class="autotype"></span> = lambda You : You + OneTech</i> </h1>
			</div>
		</div>
		<div class="container">
			<h2 class="text-center mt-3 mb-4"> About {{company_name}}</h2>
			<div class="row mb-6">
				<p class="lead col-6"> <b> Welcome to OneTech, your gateway to a world of endless opportunities in the realm of Information Technology careers.
				 At OneTech, we are passionate about empowering individuals to pursue and thrive in IT careers that align with their aspirations and ambitions. Whether you're an aspiring coder, a cybersecurity enthusiast, a data science aficionado, or a technology aficionado looking to make your mark in the digital world, OneTech is here to support you every step of the way. <br><br> Join our vibrant community of IT professionals, enthusiasts, and learners as we embark on a journey of discovery, growth, and innovation together. Whether you're just starting your career or seeking to advance to the next level, OneTech is your trusted partner in achieving your goals and realizing your full potential in the exciting world of IT.</b></p>
				<div class="col-md-6"><img class="img-responsive" style="height: 360px; width: 100%; border-radius: 4px;" src="http://127.0.0.1:5000/static/collab_pic.jpg">
				</div>
			</div>
			<h2 class="text-center mt-3 mb-4" style="color:darkcyan"><u>Job Listings</u></h2>
				<div>
					{%for job in jobs%}
					{% include 'job_item.html' %}
					{% endfor %}
				</div>
			<div class="text-center">
				<a href="mailto:dev.hoyte@gmail.com?subject=Job%20Inquiery%20&body=Your%20Name%3A%20%3Cinsert%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Cinsert%20question(s)%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
			</div>

		</div>
		<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
		<script>
			var typed= new Typed(".autotype", {
				strings: ["Software Architect", "Backend Specialist", "Fronted Pioneer"],
				typeSpeed: 250,
				backSpeed: 150,
				loop: true
			})
		</script>
	</body>
	{% include 'footer.html' %}

</html>